<div class="skin-change-button">
    <button onclick="changeSkin('sunset')">sunset</button>
    <button onclick="changeSkin('sunrise')">sunrise</button>
    <button onclick="changeSkin('midnight')">midnight</button>
    <button onclick="changeSkin('daylight')">daylight</button>
</div>
<script>
    const changeSkin = (skinName) => {
        let filename = ''
        switch(skinName) {
            case 'sunset':
                filename = "{{ '/assets/css/skin-sunset.css' | relative_url }}";
                break;
            case 'sunrise':
                filename = "{{ '/assets/css/skin-sunrise.css' | relative_url }}";
                break;
            case 'midnight':
                filename = "{{ '/assets/css/skin-midnight.css' | relative_url }}";
                break;
            case 'daylight':
                filename = "{{ '/assets/css/skin-daylight.css' | relative_url }}";
                break;
        }
        const elem = document.createElement("link");
        elem.setAttribute("rel", "stylesheet");
        elem.setAttribute("type", "text/css");
        elem.setAttribute("href", filename);
        document.getElementsByTagName("head")[0].appendChild(elem);
        localStorage.setItem("skin", skinName);
    }
</script>
