<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      <div style="display: flex;">
        <aside style="flex:1">
            <div style="border-style: solid;">asd</div>
        </aside>
        <section style="flex:1">
            <div style="border-style: solid;">asd</div>
        </section>
        <aside style="flex:1">
            <div style="border-style: solid;">asd</div>
        </aside>


        <!-- <div style="border-style: solid; flex: 1;">asd</div>
        <div style="border-style: solid; flex:1">asd</div>
        <div style="border-style: solid; flex:1">asd</div> -->
      </div>
    </div>
  </body>
</html>
